nav.navBar {
    --tempoAnimacao: 0.2s;
    will-change: backdrop-filter;
    backdrop-filter: blur(var(--blur));
    background-color:var(--corFundo);
    height: var(--tamanho);
    z-index: 100;
    transition: 
        height var(--tempoAnimacao) ease-in-out, 
        background-color var(--tempoAnimacao) ease-in-out,
        backdrop-filter var(--tempoAnimacao) ease-in-out;
        ;
    top: 0;
    nav{
        .logoTipo{
            color: white;
            font-size: var(--fontSize);
            transition: font-size var(--tempoAnimacao) ease-in-out;
        }
        .btnUtilidadeNav{
            height:var(--tamanho);
            width:var(--tamanho);
            border:none;
            outline:1px solid transparent;
            font-size: 30px;
            z-index: 2;
            svg{
                transition: color 0.5s;
                color: white;
                width:100%;
                height:100%;
            }
            transition: background-color 0.3s, height 0.2s, width 0.2s;
            &:hover{
                background-color:white;
                svg{
                    color: black;
                }
            }

        }
        .wrapperInput{
            right:65px;
            padding: 0px 5px;
            @keyframes slideIn{
                from{
                    transform: translateX(calc(100% + 50px));
                }
                to{
                    transform: translateX(0%);
                }
            }
            animation: slideIn var(--tempoAnimacao) forwards;
            input{
                outline: transparent;
                height: 28px;
                border-radius: 4px;
                padding: 5px;
                /* position: relative; */
                border: 1px solid black;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: -1;

            }
        }
        .animacaoMorrerInput{
            @keyframes slideOut{
                from{
                    transform: translateX(0%);
                }
                to{
                    transform: translateX(calc(100% + 50px));
                }
            }
            animation: slideOut var(--tempoAnimacao) forwards;
        }
    }
}
.caixaBuscas{
    top: 100%;
    right: 3px;
    //scrollbar
    &::-webkit-scrollbar{
        width: 5px;
        background-color: rgb(23,23,23);
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgb(100,100,100);
    }
    
}