.comentario{
    width: 100%;
    height: auto;
    min-height: 40px;
    display: flex;
    padding: 10px;
    gap: 10px;
    position: relative;
    @keyframes slide{
        0%{
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.0) 100%);
        }
        25%{
            background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.05) 100%);
        }
        50%{
            background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.1) 100%);
        }
        75%{
            background: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.15) 100%);
        }
        100%{
            background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.2) 100%);
        }
    }
    @keyframes slideReverse{
        0%{
            background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.2) 100%);
        }
        25%{
            background: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.15) 100%);
        }
        50%{
            background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.1) 100%);
        }
        75%{
            background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.05) 100%);
        }
        100%{
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.0) 100%);
        }
    }
    &::before{
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.0) 100%);
        animation: slideReverse 0.2s;
    }
    &:hover{
        &::before{
            background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.2) 100%);
            animation: slide 0.2s;
        }
    }

    .esquerda{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img{
            border: 1px solid black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
            box-shadow: -0px 4px 6px rgba(0, 0, 0, 0.25);
        }
    }
    .direita{
        width: 100%;
        h4{
            margin-bottom: 0px;
        }
        .botoes{
            display: flex;
            justify-content: flex-end;
            button{
                background: none;
                outline: transparent;
                border: none;
                display: flex;
                gap: 5px;
                align-items: center;
            }
        }
        .btnLike{
            transition: color 0.2s;   
            cursor: pointer;
            &:hover{
                color:royalblue;
            }
        }
        .btnDenunciar{
            /* margin-right: auto; */
            transition: color 0.2s;
            cursor: pointer;
            &:hover{
                color: red;
                
            }
        }
        .dataCampo{
            margin-right: auto;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        
    }
    p{
        margin-bottom: 0;
    }
}