.wrapperNoticiaUni{
    justify-content: center;
    --gap:10px;
    gap: var(--gap);
    padding: 0 5px;
}

.wrapperNoticiaUniMain{
    width: clamp(230px, 100%, 800px);
    .tituloWrapper{
        padding: 20px;
        h1{
            font-size: 2.4rem;
            font-weight: 350;
            color: #000;
            margin-bottom: 0.5rem;
            text-align: center;
            @media (max-width: 768px){
                font-size: 2rem;
                line-height: 2.1rem;
            }
        }
    }
    .conteudoNoticia{
        .conteudoTexto{
            @media (max-width: 576px){
                & :last-child{
                    margin-bottom: 0;
                }
            }
                
            
        }
    }
}
.sugestoesNoticia{
    --margem: calc(var(--tituloTopo) - var(--sugestoesTopo) - 1px);
    margin-top: var(--margem);

    .sugestoesNoticiaConjunto{
        gap: var(--gap);
    }
    @media(max-width: 992px){
        .sugestoesNoticiaConjunto{
            .cardNoticiaSugestao{
                width: 200px;
                h3{
                    font-size: 1rem;
                }
            }
        }
    }
    @media(max-width: 768px){
        .sugestoesNoticiaConjunto{
            .cardNoticiaSugestao{
                width: 150px;
                h3{
                    font-size: 0.85rem;
                    padding: 2px 10px;
                }
            }
        }
    }
    h2{
        font-size: 1.2rem;
        font-weight: 50;
        color: #000;
        margin-bottom: 0;
    }
}
.cardsAbaixoResponsivo{
    --gap:10px;
    display: none !important;
    padding: 15px 0;
    @media(max-width: 640px){
        display: flex !important;
    }
    .cardNoticiaSugestao{
        width: clamp(310px, 95%, 450px);
    }
}
.comentarios{
    textarea{
        border-radius: 5px;
        font-size: 1rem;
        resize: none;
        margin-bottom: 10px;
        &:focus{
            outline: transparent;
        }
    }
}